body {
  background-color: #FFFFFF;
}

.title-container {
  display: flex;
  justify-content: space-between;
  background-color: #0B132B;
  color: #FFFFFF;
}

.name {
  display: inline-block;
  margin: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 36px;
}

.social {
  display: inline-block;
  margin: 15px;
  width: 50px;
}

img {
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  margin: 10px;
  padding: 10px;
  text-align: center;
  -moz-box-shadow: 0 0 5px #0B132B;
  -webkit-box-shadow: 0 0 5px #0B132B;
  box-shadow: 0 0 5px #0B132B;
  border-radius: 2%;
  width: 43vw;
}

.project-image {
  margin-top: 5px;
  width: 95%;
}

.technology-container {
  display: flex;
  justify-content: space-around;
}

.skills-intro {
  margin: 15px auto;
  padding: 15px 0;
  width: 85%;
  text-align: center;
  line-height: 150%;
  font-size: 18px;
}

.about-me-text {
  float: left;
  margin: 15px auto;
  width: 60%;
  border-right: 1px solid #0B132B;
  padding: 30px;
  text-align: center;
  line-height: 150%;
  font-size: 18px;
}

.skillset {
  float: right;
  margin-right: 30px;
  width: 30%;
  text-align: center;
  font-size: 18px;
}

h3 {
  margin-top: 26px;
}

@media screen and (max-width: 920px) {
  .project-container {
    justify-content: center;
  }
  .project {
    width: 80vw;
  }

  .about-me-text {
    width: 90%;
    border-right: none;
    border-bottom: 1px solid black;
  }

  .skillset {
    width: 95%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .skillset {
    margin: 15px auto;
    display: block;
  }

  .skill {
    margin: 15px auto;
  }

  .title-container {
    display: block;
    text-align: center;
  }

  .name {
    font-size: 22px;
  }

  .social {
    width: 40px;
  }
}
