body {
  background-color: #EBEBEB;
}

.title-container {
  display: flex;
  justify-content: space-between;
  background-color: #23282D;
  color: #EBEBEB;
}

.name {
  display: inline-block;
  margin: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 36px;
}

.social {
  display: inline-block;
  margin: 15px;
  width: 50px;
}

img {
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  margin-top: 15px;
  width: 45%;
}

.project-image {
  margin-top: 5px;
  height: 300px;
}

.technology-container {
  display: flex;
  justify-content: space-around;
}

.skillset {
  border-bottom: 1px solid black;
}

.skills-intro {
  margin: 0 auto;
  padding: 15px 0;
  width: 85%;
  text-align: center;
  line-height: 150%;
}

.favs {
  font-size: 24px;
}

.other-tech {
  font-size: 18px;
}

.user-photo-container {
  text-align: center;
}

.user-photo {
  float: right;
  height: 530px;
  margin-top: 10px;
  border-radius: 20px;
}

.about-me-text {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 55%;
  line-height: 150%;
  font-size: 20px;
}
